<div class="collaborator-details-container">
    <!-- Botão Voltar -->
    <button class="btn-back" (click)="goBack()">
        <img src="arrow-back-icon.svg" alt="Voltar">
        Voltar
    </button>

    <h2>Detalhes do Colaborador</h2>
    <div class="scroll-container">
        <form class="collaborator-form" [formGroup]="collaboratorForm" (ngSubmit)="saveChanges()">
            <!-- Nome -->
            <div class="form-group">
                <label for="name">Nome:</label>
                <input id="name" formControlName="name" class="input" placeholder="Nome" maxlength="100">
                <div *ngIf="collaboratorForm.get('name')?.invalid && collaboratorForm.get('name')?.touched" class="error-message">
                    O nome é obrigatório.
                </div>
            </div>
    
            <!-- E-mail -->
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input id="email" formControlName="email" class="input" placeholder="E-mail" readonly>
            </div>
    
            <!-- CPF -->
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input id="cpf" mask="000.000.000-00" formControlName="cpf" class="input" placeholder="CPF" maxlength="14">
                <div *ngIf="collaboratorForm.get('cpf')?.invalid && collaboratorForm.get('cpf')?.touched" class="error-message">
                    <span *ngIf="collaboratorForm.get('cpf')?.errors?.['required']">O CPF é obrigatório.</span>
                    <span *ngIf="collaboratorForm.get('cpf')?.errors?.['invalidCPF']">CPF inválido.</span>
                </div>
            </div>
    
            <!-- Celular -->
            <div class="form-group">
                <label for="phone">Celular:</label>
                <input id="phone" mask="(00) 0 0000-0000" formControlName="phone" class="input" placeholder="(xx) xxxxx-xxxx" maxlength="15">
            </div>
    
            <!-- CEP -->
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input id="cep" formControlName="cep" mask="00000-000" class="input" placeholder="00000-000" maxlength="9" (blur)="fetchAddress()">
                <div *ngIf="collaboratorForm.get('cep')?.invalid && collaboratorForm.get('cep')?.touched" class="error-message">
                    <span *ngIf="collaboratorForm.get('cep')?.errors?.['required']">O CEP é obrigatório.</span>
                    <span *ngIf="collaboratorForm.get('cep')?.errors?.['pattern']">CEP inválido.</span>
                </div>
            </div>
    
            <!-- UF -->
            <div class="form-group">
                <label for="uf">UF:</label>
                <input id="uf" formControlName="uf" class="input" placeholder="UF" maxlength="2" readonly>
            </div>
    
            <!-- Cidade -->
            <div class="form-group">
                <label for="city">Cidade:</label>
                <input id="city" formControlName="city" class="input" placeholder="Cidade" maxlength="30" readonly>
            </div>
    
            <!-- Bairro -->
            <div class="form-group">
                <label for="neighborhood">Bairro:</label>
                <input id="neighborhood" formControlName="neighborhood" class="input" placeholder="Bairro" maxlength="40" readonly>
            </div>
    
            <!-- Logradouro -->
            <div class="form-group">
                <label for="street">Logradouro:</label>
                <input id="street" formControlName="street" class="input" placeholder="Logradouro" maxlength="100" readonly>
            </div>
    
            <!-- Perfil -->
            <div class="form-group">
                <label for="profile">Perfil:</label>
                <select id="profile" formControlName="profile" class="input" (change)="onProfileChange()">
                    <option value="admin">Administrador</option>
                    <option value="hr">Gente e Cultura</option>
                    <option value="common">Colaborador Comum</option>
                </select>
            </div>
    
            <!-- Senha (condicional) -->
            <div class="form-group" *ngIf="showPasswordField">
                <label for="password">Senha:</label>
                <input id="password" type="password" formControlName="password" class="input" placeholder="Senha">
                <div *ngIf="collaboratorForm.get('password')?.invalid && collaboratorForm.get('password')?.touched" class="error-message">
                    <span *ngIf="collaboratorForm.get('password')?.errors?.['required']">A senha é obrigatória.</span>
                    <span *ngIf="collaboratorForm.get('password')?.errors?.['invalidPassword']">A senha deve ter pelo menos 8 caracteres, incluindo uma letra maiúscula, uma minúscula, um número e um caractere especial.</span>
                </div>
            </div>
    
            <!-- Botão Salvar -->
            <button type="submit" class="btn-save" [disabled]="collaboratorForm.invalid">Salvar Alterações</button>
        </form>
    </div>
</div>